* {
    font-family: "Microsoft JhengHei";
}

header .row:first-child .col-12 {
    background-color: #e9eb87;
    height: 200px;
    width: 100%;
}

header .row:last-child .col-12 {
    background-color: #e2dbbe;
    height: 60px;
    font-weight: bold;
}

header .row:last-child .col-12 a {
    color: black;
    font-size: 24px;
}

header .row:last-child .col-12 a:hover {
    color: #188fa7;
}
header .username {
    font-size: 1.5rem;
}
.shopping-cart {
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}
.shopping-cart img{
  width: 40px;
}
.shopping-cart img:hover {
  width: 50px;
}
.logo {
    padding-top: 20px;
}

.logo span:nth-child(1) {
    font-size: 32px;
}

.logo span:nth-child(2) {
    font-size: 44px;
}

.logo span:nth-child(3) {
    font-size: 28px;
}
.icon{
    margin-left: -10%;
}
.topicon {
    margin-top: 5%;
}

.topicon .row {
    display: flex;
    justify-content: center;
    align-content: center;
}

.socialIcons li {
    list-style: none;
    display: inline-block;
    margin: 4px;
    border-radius: 2em;
    overflow: hidden;
    padding-bottom: -10%;
}

.socialIcons li a {
    display: block;
    padding: 0.5em;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    white-space: nowrap;
    line-height: 1.5em;
    transition: 0.5s;
    text-decoration: none;
    font-family: arial;
    color: #fff;
}

.socialIcons li i {
    margin-right: 1.5em;
    margin-left: 0.1em;
}

.socialIcons li:hover a {
    max-width: 200px;
    padding-right: 1em;
}

.socialIcons .facebook {
    background-color: #3b5998;
    box-shadow: 0 0 16px #3b5998;
}

.socialIcons .twitter {
    background-color: #00aced;
    box-shadow: 0 0 16px #00aced;
}

.socialIcons .instagram {
    background-color: #cd486b;
    box-shadow: 0 0 16px #cd486b;
}

.btn-top {
    background-color: #d56f3e;
    width: 110px;
    height: 35px;
    margin: 0px 12.5px;
    padding: 0px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.btn-top:first-child {
    margin-left: 0px;
}

.btn-top:last-child {
    margin-right: 0px;
}

.btn-top:hover {
    border: 2px solid white;
    background-color: #188fa7;
    color: white;
}

.carousel-item img {
    width: 100%;
}

.now-release {
    padding: 45px 0px;
}

.titlebar {
    font-size: 28px;
}

.titlebar hr {
    padding-bottom: 43px;
}

.movie-title a {
    color: #000;
    text-decoration: none;
}

.movie-title a:hover {
    color: #188fa7;
}

.now-release .media {
    padding-top: 32px;
}

.now-release .media img {
    width: 40%;
}
.now-release a[href] img, .future-release a[href] img {
    width: 100%;
}

.now-release .media-body {
    padding-left: 20px;
    font-size: 1.3em;
}

.future-release {
    font-size: 20px;
}

.future-release .movie-title {
    padding-top: 18px;
}

.motd table {
    width: 600px;
    font-size: 18px;
}

.motd tr {
    cursor: pointer;
}

.motd tr:hover {
    color: #188fa7;
}

.motd tr:not(:last-child) {
    border-bottom: 1px solid black;
}

.motd td {
    padding: 8px 0px;
}

.motd tr:first-child td {
    padding-top: 0px;
}

.motd td:first-child {
    padding-right: 27px;
    text-align: center;
}

footer .row {
    background-color: #e9eb87;
    height: 180px;
    font-size: 1rem;
    margin-top: 26px;
}

footer a {
    color: black;
    text-decoration: underline;
}

#login-popup-box .popbox {
    border-style: solid;
    background-color: rgb(242, 242, 242);
}

#login-popup-box .wrapper {
    border-style: solid;
    border-color: rgb(208, 206, 206);
    color: gray;
    background-color: white;
}

#login-popup-box input {
    border-style: none;
    outline: none;
}

#login-popup-box .popbox a {
    color: rgb(255, 0, 0);
}

#login-popup-box .login-btn {
    background-color: rgb(255, 195, 5);
    border-color: rgb(208, 206, 206);
    border-style: solid;
    border-size: 1px;
    color: white;
    cursor: pointer;
}

#login-popup-box .modal-dialog .modal-content {
    background-color: rgb(242, 242, 242);
    border-style: solid;
    border-color: rgb(208, 206, 206);
    border-width: 3px;
    border-radius: 0;
}

#login-popup-box .modal-dialog .modal-header {
    border-style: none;
}

#login-popup-box .modal-dialog .close {
    position: relative;
    top: 0rem;
    left: -2rem;
    cursor: pointer;
}

#reg-popup-box .popbox {
    border-style: solid;
    background-color: rgb(242, 242, 242);
}

#reg-popup-box .wrapper {
    border-style: solid;
    border-color: rgb(208, 206, 206);
    color: gray;
    background-color: white;
}

#reg-popup-box input {
    border-style: none;
    outline: none;
}

#reg-popup-box .popbox a {
    color: rgb(255, 0, 0);
}

#reg-popup-box .login-btn {
    background-color: rgb(255, 195, 5);
    border-color: rgb(208, 206, 206);
    border-style: solid;
    border-size: 1px;
    color: white;
    cursor: pointer;
}

#reg-popup-box .modal-dialog .modal-content {
    background-color: rgb(242, 242, 242);
    border-style: solid;
    border-color: rgb(208, 206, 206);
    border-width: 3px;
    border-radius: 0;
}

#reg-popup-box .modal-dialog .modal-header {
    border-style: none;
}

#reg-popup-box .modal-dialog .close {
    position: relative;
    top: 0rem;
    left: -2rem;
    cursor: pointer;
}

#reset-popup-box .popbox {
    border-style: solid;
    background-color: rgb(242, 242, 242);
}

#reset-popup-box .wrapper {
    border-style: solid;
    border-color: rgb(208, 206, 206);
    color: gray;
    background-color: white;
}

#reset-popup-box input {
    border-style: none;
    outline: none;
}

#reset-popup-box .popbox a {
    color: rgb(255, 0, 0);
}

#reset-popup-box .login-btn {
    background-color: rgb(255, 195, 5);
    border-color: rgb(208, 206, 206);
    border-style: solid;
    border-size: 1px;
    color: white;
    cursor: pointer;
}

#reset-popup-box .modal-dialog .modal-content {
    background-color: rgb(242, 242, 242);
    border-style: solid;
    border-color: rgb(208, 206, 206);
    border-width: 3px;
    border-radius: 0;
}

#reset-popup-box .modal-dialog .modal-header {
    border-style: none;
}

#reset-popup-box .modal-dialog .close {
    position: relative;
    top: 0rem;
    left: -2rem;
    cursor: pointer;
}

#aboutrow {
    padding: 0px 40px;
}

#clearfix {
    margin: 20px 20px;
}


#infor {
    color: rgb(22, 20, 22);
    font-size: 26px;
    padding: 20px 0px 0px;
    font-weight: bold;
    line-height: 1;
}

#about {
    text-transform: uppercase;
    color: rgb(22, 20, 22);
    font-size: 16px;
    padding: 5px 0px 0px;
    line-height: 1;
}



/*Check time*/

.find {
    width: 100%;
    height: 3500px;
    padding: 10px;
    font-weight: bold;
}

.check {
    width: 900px;
    position: relative;
    transform: translateX(30%);
}

.mposition {
    background-color: rgb(255, 255, 136);
    padding: 20px;
    display: none;
    margin: 20px;
}

appear:hover .mposition {
    display: block;
    padding: 20px;
    background: rgb(248, 211, 142);
    border: solid;
    width: 50%;
    height: 300px;
    line-height: 30px;
    position: fixed;
    left: 30em;
}

.mi {
    border: solid;
    background: rgb(248, 211, 142);
    float: right;
}




/*Movie introduce*/

.introduce {
    width: 100%;
    padding-top: 5%;
}

.buying {
    border-style: solid;
    border-color: #7FB7BE;
}
.buy-select {
    font-size: 20px;
}
.buy-select .row div:first-child {
    font-size: 24px;
}
.buy-confirm button {
    border-style: none;
    color:white;
    font-size: 24px;
    cursor: pointer;
    height: 40px;
    width: 135px;
}
.buy-confirm button:nth-child(1) {
    background-color: #f05d5e;
}
.buy-confirm button:nth-child(2) {
    background-color: #7FB7BE;
}
#price {
    font-size: 60px;
    color: #f05d5e;
}
#mimgs {
    width: 100%;
}
.movie-title .zh{
    font-size: 28px;
}
.movie-title .en {
    font-size: 18px;
}
.movie-title img {
    width: 60px;
    height: 60px;
}

.timechartt {
    width: 100%;
    height: 40px;
    background-color: #e9eb87;
    border: 2px solid #d2d2d2;
    font-size: 24px;
    font-weight: bold;
}

.timechartb {
    width: 100%;
    max-height: 270px;
    overflow-x: hidden;
    overflow-y: auto;
    border: 2px solid #d2d2d2;
    border-top: 0;
    font-size: 20px;
    line-height: 2.5rem;
}
.timechartb .date ,.timechartb .hall {
    font-weight:bold;
}

.mdetails {
    font-size: 20px;
}
.mdetails .left {
    width: 100%;
}
.mdetails .main-title {
    font-size: 24px;
    font-weight: bold;
}
.trailer iframe {
    width: 100%;
}

.story .story-body {
    line-height: 2.5rem;
}



/***************/
/*abous_us*/
#aboutrow {
    padding: 0px 40px;
}

#clearfix {
    margin: 20px 20px;
}

#picture {
    display: flex;
    justify-content: right;
}

#picture img {
    margin: 0% 25% 0% -10%;
    margin-bottom: 15px;
    height: 70%;
    width: 70%;
    box-shadow: rgb(34, 34, 34)1px 1px 5px;
}

#infor {
    color: rgb(22, 20, 22);
    font-size: 26px;
    padding: 20px 0px 0px;
    font-weight: bold;
    line-height: 1;
}

#about {
    text-transform: uppercase;
    color: rgb(22, 20, 22);
    font-size: 16px;
    padding: 5px 0px 0px;
    line-height: 1;
}
/**/

/**cart**/
.table>tbody>tr>td,
.table>tfoot>tr>td {
  vertical-align: middle;
}
#cart .img-responsive {
    width: 135px;
}
@media screen and (max-width: 600px) {
  table#cart tbody td .form-control {
    width: 20%;
    display: inline !important;
  }
  .actions .btn {
    width: 36%;
    margin: 1.5em 0;
  }
  .actions .btn-info {
    float: left;
  }
  .actions .btn-danger {
    float: right;
  }
  table#cart thead {
    display: none;
  }
  table#cart tbody td {
    display: block;
    padding: .6rem;
    min-width: 320px;
  }
  table#cart tbody tr td:first-child {
    background: #333;
    color: #fff;
  }
  table#cart tbody td:before {
    content: attr(data-th);
    font-weight: bold;
    display: inline-block;
    width: 8rem;
  }
  table#cart tfoot td {
    display: block;
  }
  table#cart tfoot td .btn {
    display: block;
  }
}
/***/
.my-ticket .img-responsive {
  width: 135px;
}
.my-ticket:nth-child(even){
  border: 2px solid #7FB7BE;
}
.my-ticket:nth-child(odd){
  border: 2px solid #f05d5e;
}