
#content{
	width :100%;
	height: 500px;
}
#upload{

	font-size: 1.2em;
    font-family: "Microsoft JhengHei";
	margin-top:10%;
		display: flex;
	justify-content: center;
	align-items: center;
width:100%;
background-color: white;
}
#nav{
	display: flex;
justify-content: center;
	background-color: #444;
	width: 100%;
	height: 100px;
}
#nav_log{

	height: 110%;
	width: 20%;
}
#nav_log img{
	width: 100%;
	height: 100%;
}
#insert{
	outline: none;
	border-radius: 8px;
}
#butcon	{
	display: flex;
	width: 100%;
	justify-content: space-between;
}
#butsty{
	border-radius: 5px;
	outline: none;
	width: 30%;
}
#butsty:hover{
	background-color: #9c9c9c;
}
#form{
	text-align: center;
	border:1px solid black;
	border-radius: 7px;
	padding: 2%;
}