body
{
    margin:0;
    padding:0;
    height:100%;
}
.topArea
{
    height: 10%;
    background: rgb(38,96,169);
}
#search{
    float:right;
    display: block;
    margin-bottom: 5%;
    margin-right: 7%;
    font-family: "Microsoft JhengHei";
}
input{
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;  
    margin-left:5px;
    margin-right: 5px;
}
#butt{
    float:right;
    height: 25px;
    width:70px;
    font-family: "Microsoft JhengHei";
    border-width: 1px;;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}

.Footer
{   position: relative;
    margin: 0 auto;
    width: 100%;
    padding: 15px 0 25px;
    background: rgb(38,96,169);
}
.Menu
{   
    list-style-type:none;
    width:100%;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background: rgb(38,96,169);
}

.Menu .logo
{
    font-size:40px;
    margin:10px;
    margin-left: 4%;
}
.topArea li
{
    float:left;
    font-family:"Microsoft JhengHei";
    font-size:30px;
    color:white;
    margin:30px 0px 0px 10px;
}
.mainLink a
{
    color:white;
}
.mainLink a:hover
{
    color:#EFF31D;
}
li a
{
    display: block;
    text-align: center;
    padding:14px 16px;
    text-decoration: none;
}
#title {
    font-size: 30px;
    height:60px;
    font-family: "Microsoft JhengHei";
    margin: 30px 10px 0px 20px;
    color:rgb(38,96,169);
}
.all_movie {
   
    width: 85%;
    height: auto;
    margin: 10px auto;
    padding: 10px 0px 0px 10px;
}
div {
    display: block;
}
.movie_list {
 
    display: inline-block;
    text-align: center;
    width: 24.3%;
    height: auto;
    vertical-align: top;
}
.movie_list:hover
{
    background-color: rgba(194, 187, 187, 0.84);
}

.Mphoto
{  
    margin-top:10%;
    height:80%;
    width:80%;
    margin-left: 10%;
    margin-right: 10%;
}
h1,h2
{
    height:auto;
    font-family:"Microsoft JhengHei";
}
h1
{
    font-size: 20px;
    color:black;
}
h2
{   font-size: 18px;
    color:rgb(38,96,169);
}
.Mtime1,.Mtime2
{  
    height: auto;
    width: 48%;
    float: left;
    padding:0;
    margin:0;
}
.Mtime1
{
    margin-right: 2%;
}
.Mtime1 ul,.Mtime2 ul
{
   padding:0;
   margin:0;
}
.Mtime1 li,.Mtime2 li
{
    list-style-type: none;
    font-size: 18px;
    line-height: 30px;
    font-family: Arial;
    text-align: center;
    margin:0;
    padding:0;
}
#button
{
    clear: left;
    margin:0;
    padding:0;

}
.button {
    width: 120px;
    height: 40px;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: "Microsoft JhengHei";
    border-width: 2px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    border-radius: 8px;
}
.button:hover
{
    background-color: rgb(38,96,169);
}
.copyright
{
    position: relative;
    color: #fff;
    font-size: 14px;
    font-style: normal;
    width: 100%;
    text-align: center;
    vertical-align: top;
}
.block p
{
   font-size: 25px;
   color:white;
}